* {
    box-sizing: border-box;
}

div.background {
    width: 100vw;
    height: 25vh;
    background-color: rgba(0, 0, 0, 1);
}

@keyframes first {
    from {right:100vw;}
    to {right: 0vw;}
}

#one {
    position: relative;
    right: 100vw;
    animation-name: first;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes second {
    from {left:100vw;}
    to {left: 0vw;}
}

#three {
    position: relative;
    left: 100vw;
    animation-name: second;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#two {
    position: relative;
    right: 100vw;
    animation-name: first;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#four {
    position: relative;
    left: 100vw;
    animation-name: second;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

main {
    width: 100vw;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 40vh;
}

@keyframes name-opacity {
    from {color: rgba(255, 255, 255, 0);}
    to {color: rgba(255, 255, 255, 1);}
}

#name {
    font-family: 'Notable', 'Helvetica', sans-serif;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0);
    animation-name: name-opacity;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
