* {
    box-sizing: border-box;
}

main {
    width: 95%;
    margin: 0 auto;
}

img {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 100%;
    border-radius: 2%;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
}

p {
    width: 100%;
    font-family: 'Helvetica', arial, sans-serif;
    line-height: 155%;
    margin-bottom: 2.3%;
    font-size: 1rem;
}

header {
    border-bottom: solid 1px #e8e8e8;
    margin-bottom: 2%;
}

h1 {
    font-family: 'Helvetica', arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0.5%;
}

h1.title {
    margin-bottom: 5%;
}

h2 {
    font-family: 'Helvetica', arial, sans-serif;
    color: #aaaaaa;
    line-height: 109%;
    font-size: 1.2rem;
}

#hamburger hr {
    margin: 0% 0% 30% 0%;
    border-color: rgba(150, 150, 150, 1);
}

#hamburger {
    display: inline-block;
    width: 7.5%;
    margin-top: 3%;
    margin-left: 3%;
}

#navig {
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 1;
    top: 7vh;
}

nav a {
    font-family: 'Helvetica', arial, sans-serif;
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    text-decoration: none;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    margin-left: 3%;
}

div.project {
    position: relative;
    width: 100%;
    height: 3vh;
    transition: border 1.5s, height 1.5s;
    /* border: solid 1px #e8e8e8; */
}

div.project:hover {
    border: solid 1px #e8e8e8;
    height: 25vh;
}

div.project-title {
    margin-left: 2.5%;
    font-size: 1.2rem;
    font-family: 'Helvetica', arial, sans-serif;
    color: #aaaaaa;
}

div.project-description {
    display: none;
    position: absolute;
    top: 10%;
    font-size: 1rem;
    margin-left: 2.5%;
    z-index: 1;
}

footer.project-footer {
    display: none;
    position: absolute;
    margin-left: 2.5%;
    bottom: 5%;
    z-index: 1;
}

/* nav {
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #000000;
    margin-right: 1%;
    font-family: arial, sans-serif;
}

nav a:hover {
    color: #27c8f5;
} */
