* {
    box-sizing: border-box;
}

#nav-header {
    border-bottom: solid 1px rgba(220, 220, 220, 1);
}

nav {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

nav > a {
    display: inline-block;
    width: 25%;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-align: center;
    border-right: solid 1px rgba(220, 220, 220, 1);
}

nav > a:last-child {
    border-right: none;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    width: 95%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

main > h1 {
    font-family: helvetica, arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

main > h2 {
    font-family: helvetica, arial, sans-serif;
    color: rgba(150, 150, 150, 1);
}

p.about-me {
    font-family: helvetica, arial, sans-serif;
    line-height: 140%;
    text-align: justify;
}

a > i {
    color: rgba(0, 0, 0, 1);
}

#my-links {
    width: 95%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

#me-photo {
    display: block;
    width: 75%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: auto;
    margin-right: auto;
}
