* {
    box-sizing: border-box;
}

header {
    border-bottom: solid 1px #e8e8e8;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

main {
    position: relative;
    bottom: 100%;
    width: 95%;
    margin: 0 auto;
}

img {
    width: 100%;
    border: double 8px #ccc8c8;
}

p {
    width: 100%;
    font-family: 'Helvetica', arial, sans-serif;
    line-height: 155%;
    margin-bottom: 2.3%;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Helvetica', arial, sans-serif;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1.2%;
    font-size: 3rem;
}

nav {
    display: inline-block;
    position: relative;
    margin-left: 2.5%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-family: arial, sans-serif;
    border: solid 1px #e8e8e8;
    padding-top: 10%;
    padding-bottom: 10%;
}

nav a:hover {
    color: #27c8f5;
}

h1 a {
    text-decoration: none;
    color: #000000;
}

h2 {
    font-family: 'Helvetica', arial, sans-serif;
    margin-bottom: 7%;
    color: #aaaaaa;
    line-height: 109%;
    font-size: 1.2rem;
}

i {
    margin-left: 2.5%;
}
