#project-h1 {
    margin-bottom: 5%;
}

.projects {
    margin-bottom: 10%;
    font-family: helvetica, arial, sans-serif;
}

.projects:last-child {
    margin-bottom: 0%;
}

.proj-head {
    font-size: 1.5rem;
    color: rgba(150, 150, 150, 1);
}

.proj-head, .proj-desc {
    margin-bottom: 3%;
}

.proj-desc {
    line-height: 125%;
}

.proj-foot > a {
    margin-right: 1%;
}

.proj-foot > a:visited {
    color: #0000EE;
}

.proj-foot > a:last-child {
    margin-right: 0%;
}
